.about-marvelous {
  background-image: url("/media/slider/1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 50vh;

  margin-top: -5rem;
  position: relative;
  .lineName {
    color: white;
  }


}
@media only screen  and (min-width:660px) and  (max-width:1500px) {
  .about-marvelous{
    height: 67vh !important;
    background-size: cover;
    background-position: center;
    background-position-y: center;
    background-attachment: unset;
    .head-about{
      width: inherit;
      h1{
        width: inherit !important;
      }
    }
  }
}
@media (max-width:660px) {
  .about-marvelous{
    height: 54vh !important;
    background-size: cover;
    background-position: center;
    background-position-y: center;
    background-attachment: unset;
    margin-top: 0 !important;
    .head-about{
      width: inherit;
      h1{
        width: inherit !important;
      }
    }

  }
}
