.circle{
  .service-icon:hover {
    background-color: white !important;
  }
  .service-icon:hover .icon {
    color: #f57c53 !important;
  }
  
}
@media (max-width:1200px){
  .circle{

      width: 6.5rem !important;
  
  span{
    width: 5.2rem !important;
  }
}
}
@media (max-width:600px) {
  
  .circle{
height: 14vh !important;
    span{
      width: 5rem !important;
      height: 11vh !important;
    }
  }
}