.counter{
    background-image: url("/media/banner2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 44vh;
    z-index: -1;
    color: white;
    position: relative;
    h3{
        font-weight: 600;

    }
    span{
    font-weight: 600;
}
.service-icon:hover {
    background-color: white !important;
    transition: all 0.2s ease-in;
    color: #f57c53;
  }
}
.counter::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color:black;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}
@media (max-width:1200px){
    .counter{

        .circle{
            width:10.2vw !important;
        }
    }

    
}
@media   (max-width:900px ){
    .counter{

        .circle{
            width:12vw!important;
        }
    }
}
@media   (max-width:700px ){
    .counter{

        .circle{
            width:30vw!important;
        }
    }
}

@media (max-width:500px) {
    .counter{
        height: 85vh;
        .circle{
            width:28vw!important;
        }
    }
    .process-section{
        height: 140vh !important;
    }
  
    .count-clients{
        flex-direction: column;
    }
}