.ServicePart {
  padding: 0;
  background-color: #f5f5f5;
  a {
    text-decoration: none;
    font-weight: 600;
    color: black;
  }
  .our-services-head {
    font-weight: 600;
    font-size: 17px;
  }
  
  .services-list {
    position: relative;
    li {
      font-size: 14px;
      margin-top: 1rem;
      counter-increment: item;
      list-style-type: none;
    }
    li::before {
      margin-right: 10px;
      border-radius: 5px;
      content: counter(item);
      background: #ed5521;
      border-radius: 0px;
      color: #fff;
      width: 26px;
      height: 26px;
      text-align: center;
      display: inline-block;
      font-size: 13px;
      line-height: 27px;
    }
  }
  .other-services {
    background-color: inherit;
    .lineName {
      span {
        justify-content: center;
      }
    }
  }
  .link-btn {
    text-decoration: none;
    display: block;
  }
  .line {
    transform: perspective(1px) translateZ(0);
    transition: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    display: block;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.86, 0.01, 0.15, 0.99);
    width: 110px;
    height: 3px;
    background-color: rgba($color: #f57c53, $alpha: 0.1);
  }
  button::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0;
  }
  .line::before {
    background: rgb(255, 90, 20);
    clip-path: inset(0 100% 0 0);
    opacity: 1;
    transition: 0.4s;
  }
  .line:hover::before {
    clip-path: inset(0 0 0 0);
  }
  .cards {
    width: 20.9vw;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
      rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    overflow: hidden;
    height: 62.5vh !important;
    img {
      border-radius: 10px 10px 0 0;
      transition: all 0.5s;
    }
    img:hover {
      transform: scale(1.1, 1.1);
    }
  }

  .link-btn:hover {
    clip-path: inset(0 0 0 0);
  }
  .slick-list {
    margin-bottom: 7rem;
  }
  .slick-track {
    display: flex;
    gap: 34px;
    height: 75vh;
    .slick-initialized .slick-slide {
      width: fit-content !important;
      height: 40vh !important;
    }
  }
  ul {
    li {
      background-color: white;
      border: 1px solid #bebebe;
      border-radius: 50%;
    }
    .slick-active {
      background-color: #f57c53;
    }
  }
  .slick-dots li {
    width: 15px;
    height: 15px;
  }

}
