.project {
  padding-block: 4rem;
  align-items: center;
  img {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 5px;
    transition: all 0.5s;
  }
  .left{
    display: flex;
    align-items: center;
    img{
      margin-left: 27rem ;
    }
  }
  img:hover {
    transform: scale(0.99);
  }

  @media (max-width: 1200px) {
    .left {
      img {
        margin-left: 14rem;
      }
    }
    .project-details {
      transform: translateY(1.5rem) !important;
      left: 42rem;
    }
    .line::after {
      bottom: 7.1rem !important;
    }
    .second-line::after{
          bottom: 5.8rem !important;
    }
  }

}
.project-details {
  position: absolute;
  width: 32vw;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 40px 40px 40px 40px;
  line-break: loose;
  line-height: 30px;
  left: 46rem;
  background-color: white;
  border-radius: 15px;
  h2 {
    font-weight: 600;
  }
  span {
    color: orangered;
    font-weight: 600;
    font-size: 22px;
  }
  hr {
    position: relative;
    width: 100%;
  }
  .line::after {
    content: "";
    display: block;
    position: absolute;
    width: 25%;
    height: 2px;
    bottom: 5.8rem;
    background-color: orangered;
  }
  strong {
    position: relative;
    color: black;
  }
  strong::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(237, 140, 105);
    position: absolute;
    display: block;
  }
  a {
    text-decoration: none;
  }
}
@media (max-width: 1080px) {
  .project {
    position: unset !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
      margin-left: 0 !important;
    }
  }

  .project-details {
    position: unset !important;
    width: 85%;
    border-radius: 0 !important;
    transform: none !important;
    .line{
      display: none;
    }
  }
  .left {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

}
@media only screen and (min-width:600px) and (max-width:992px) {
  .project{
    img{
      width:40rem
    }
  }
  .project-details {
    width:40rem

  }
}
@media only screen and (min-width:300px) and (max-width:600px){
  .project{
    img{
      width:24rem
    }
  }
  .project-details {
    width:24rem

  }
}
@media only screen and  (min-width: 1200px) and (max-width:1400px){
  .left{
    .project-details {
      left: 1px !important;
    }
    img{
      margin-left: 21rem !important;
    }
  }
  .line{
    display: none;
  }
}
