.explore-projects{
    position: relative;
}
.explore-projects::before{
    content: "";
    background-image: url("/media/Moon1.svg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
  
    background-position: right;
}