.slider-section{
    margin-top: -5rem;
    .carousel-caption{
        width: 50%;
        height: 50%;
        text-align: unset;
        bottom: 14.25rem;
        left: 20%;
        .btn-group{
            a{
                padding: 10px 20px;
                border-radius: 20px;
                color: white;
                background: transparent;
                border: 1px solid ;
                text-decoration: none;
            }
            a:hover{
                background-color: #ED5521;
            }
        }
    }
    img{
        filter: brightness(0.5);
    }
    .carousel-control-prev,.carousel-control-next{
        display: none;
    }
    
    @media (max-width:1020px){
        h1{
            font-size: 3rem !important;
        }
        img{
            height:85vh;
        }
        .carousel-caption {
        bottom: 9rem !important;
        }
    }
    @media (max-width:500px) {
        .carousel-caption{
            width: auto;
            bottom: 4rem !important;
            left: 2rem;
        }
        h1{
            font-size: 1rem !important
        }
        p{
            font-size: 15px;
        }
        img{
            height: 100vh;
            object-fit: cover;
        }
        .btn-group{
            flex-direction: column;
            align-items: center;
            padding-left: 3rem;

        }
    }
}